<% obj.each do |article| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="text-center">
        <%= link_to article.title, article_path(article) %>
      </h4>
      <% if logged_in? && current_user == article.user %>
        <div class="dropdown pull-right" style="margin-top: -6vh; margin-right: -1vw">
          <button 
            class="btn btn-default dropdown-toggle"
            type="button"
            id="articlesDropDown"
            data-toggle="dropdown"
            aria-haspopup="true" 
            aria-expanded="true">
          Menu
          <span class="caret"></span>
          </button>
            <ul class="dropdown-menu" aria-labelledby="articlesDropDown">
              <li><%= link_to "Edit", edit_article_path(article) %></li>
              <li><%= link_to "Show", article_path(article) %></li>
              <li><%= link_to "Delete", article_path(article),method: :delete, data: { confirm: 'Are you sure?' }%></li>
            </ul>
        </div>
      <% end %>
    </div>
    <div class="panel-body text-center">
      <%= article.description %>
    </div>
    <div class="panel-footer">
      Criado por: <%= article.user.username %>, 
      <%= time_ago_in_words(article.created_at) %> atrás, 
      atualizado há <%= time_ago_in_words(article.updated_at) %> atrás
    </div>
  </div>
<% end %>